/* this is the CSS file for my final project */

/* code style */
#code {
    background-color: cornflowerblue;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#external-link {
    color: #746ab0;
}

#lists {
    color: royalblue;
}

.images {
    display: grid;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}