/* this is the CSS file for my final project */


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0;
}

p, h1, h3, h4 {
    margin: 10px;
}

/* code style */
#code {
    background-color: #DCDCDC;
}

#external-link {
    color: #746ab0;
}

#lists {
    color: royalblue;
    margin: 20px;
    list-style-type: square;
}

.images {
    display: grid;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#table {
    width: 75%;
    border: 1px solid;
    padding: 0.5rem;
    text-align: left;
    margin: 20px;
}

th {
    background-color: #746ab0;
    color: white;
}