/* this is the CSS file for my final project */

/* code style */
#code {
    background-color: cornflowerblue;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#external-link {
    color: #746ab0;
}

#lists {
    color: royalblue;
}